span{
    height: 100px;
    width: 200px;
    background-color: pink;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
}
h1{
    height: 100px;
    width: 200px;
    background-color: pink;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;

}