div{
    width: 400px;
    height: 200px;
    background-color: green;
    background-image: url(wp9309533-4k-desktop-linux-wallpapers.jpg);
    background-size: cover;
    box-shadow: 5px 5px 10px rgb(26, 65, 26);
}