h2{
    color: gold;
}
span{
    color: gold;
}
.card{
    
    margin: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 25px;
    width: 400px;

}
div{
    display: inline-block;
}
img{
    width: 100%;
    border-radius: 25px;
}
#pets{
    display: flex;
    justify-content: space-around;
}
@media(max-width:375px){
    div{
        display: block;
    }
}